<form method="post" action="{{ path('Categorien_delete', {'id': categorien.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ categorien.id) }}">
    <button class="btn">Delete</button>
</form>
