{% extends 'base.html.twig' %}

{% block title %}Edit Categorien{% endblock %}

{% block body %}
    <h1>Edit Categorien</h1>

    {{ include('categorien/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('categorien_index') }}">back to list</a>

    {{ include('categorien/_delete_form.html.twig') }}
{% endblock %}
