{% extends 'base.html.twig' %}

{% block title %}New Categorien{% endblock %}

{% block body %}
    <h1>Create new Categorien</h1>

    {{ include('Categorien/_form.html.twig') }}

    <a href="{{ path('Categorien_index') }}">back to list</a>
{% endblock %}
