{% extends 'base.html.twig' %}

{% block title %}Edit Reservering{% endblock %}

{% block body %}
    <h1>Edit Reservering</h1>

    {{ include('Reservering/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('Reservering_index') }}">back to list</a>

    {{ include('Reservering/_delete_form.html.twig') }}
{% endblock %}
