{% extends 'base.html.twig' %}

{% block title %}New Reservering{% endblock %}

{% block body %}
    <h1>Create new Reservering</h1>

    {{ include('Reservering/_form.html.twig') }}

    <a href="{{ path('Reservering_index') }}">back to list</a>
{% endblock %}
