{% extends 'base.html.twig' %}

{% block title %}Edit Bestellingen{% endblock %}

{% block body %}
    <h1>Edit Bestellingen</h1>

    {{ include('Bestellingen/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('Bestellingen_index') }}">back to list</a>

    {{ include('Bestellingen/_delete_form.html.twig') }}
{% endblock %}
