{% extends 'base.html.twig' %}

{% block title %}New Bestellingen{% endblock %}

{% block body %}
    <h1>Create new Bestellingen</h1>

    {{ include('Bestellingen/_form.html.twig') }}

    <a href="{{ path('Bestellingen_index') }}">back to list</a>
{% endblock %}
