<form method="post" action="{{ path('Sub_Categorie_delete', {'id': sub_categorie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sub_categorie.id) }}">
    <button class="btn">Delete</button>
</form>
