{% extends 'base.html.twig' %}

{% block title %}Edit SubCategorie{% endblock %}

{% block body %}
    <h1>Edit SubCategorie</h1>

    {{ include('Sub_Categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('Sub_Categorie_index') }}">back to list</a>

    {{ include('Sub_Categorie/_delete_form.html.twig') }}
{% endblock %}
