{% extends 'base.html.twig' %}

{% block title %}Edit SubCategorie{% endblock %}

{% block body %}
    <h1>Edit SubCategorie</h1>

    {{ include('Sub_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('Sub_categorie_index') }}">back to list</a>

    {{ include('Sub_categorie/_delete_form.html.twig') }}
{% endblock %}
