{% extends 'base.html.twig' %}

{% block title %}New SubCategorie{% endblock %}

{% block body %}
    <h1>Create new SubCategorie</h1>

    {{ include('Sub_categorie/_form.html.twig') }}

    <a href="{{ path('Sub_categorie_index') }}">back to list</a>
{% endblock %}
