{% extends 'base.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
    <h1>Create new Menu</h1>

    {{ include('Menu/_form.html.twig') }}

    <a href="{{ path('Menu_index') }}">back to list</a>
{% endblock %}
